body {
	margin: 0;
}


.hero {
	background-color: #77edd9;
	color: #013d33;
	min-height: 80vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 0 0 .5rem;
	text-transform: uppercase;
}

p {
	margin: 0;
}